# Database Configuration
DATABASE_URL=postgresql://postgres:7906@localhost:5432/quiz

# PostgreSQL Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=7906
POSTGRES_DB=quiz
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# App Settings
DEBUG=True
SECRET_KEY=replace_with_a_strong_secret_key

# Google OAuth Configuration
GOOGLE_CLIENT_ID=replace_with_your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace_with_your_google_client_secret

# Local:
# GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback
#
# Production:
GOOGLE_REDIRECT_URI=https://laixeantoan.id.vn/auth/callback

# Email OTP SMTP Configuration
EMAIL_OTP_EXPIRE_MINUTES=10
EMAIL_OTP_RESEND_SECONDS=60
EMAIL_OTP_MAX_ATTEMPTS=5
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_16_character_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_USE_TLS=True
